* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.4em;
    font-family: 'Chivo' ,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background: #fbbedf;
}

a{
    text-decoration: none;
    color: #000;
}

.main{
    position: relative;
}

.heading {
    font-size: 3.2rem;
    padding-top: 50px;
    color: #f875aa;
    font-family: 'Lobster Two', cursive;
}

/* .para-1{
    position: absolute;
    top: 150px;
    left: 50px;
    width: 90%;
    font-size: 20px;
    color: #b34180;
    line-height: 25px;
    text-align: justify;
}

.para-2 {
    text-align: justify;
    position: absolute;
    top: 290px;
    left: 50px;
    width: 90%;
    font-size: 20px;
    color: #b34180;
    line-height: 25px;
} */

.para-3 { 
    text-align: left;
    position: absolute;
    top: 150px;
    left: 20%;
    font-size: 1.4rem;
    color: #b34180;
    font-family: 'Satisfy', "Helvetica", cursive ;
}

.form-group {
    position: relative;
}

.form {
    display: flex;
    width: 60%;
    height: 300px;
    position: absolute;
    top: 140px;
    left: 20%;
    background: #ff75a0 ;
    border: 1px solid #6b011f;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
}

input[type="text"] {
    font-size: 16px;
    border-radius: 10px;
    width: 250px;
    height: 40px;
    position: absolute;
    top: 80px;
    left: 0;
    border: 2px solid #ff449f;
    padding: 0 20px;
    color:#822659
}

input[type="text"]:focus{
    outline: #e798ae;
    color:#822659
}
.input-1 {
    position: absolute;
    top: 40px;
    left: 50px;
    z-index: 999999;
}

.input-2{
    position: absolute;
    top: 40px;
    right: 50px;
}

.input-1 label, .input-2 label{
    display: flex;
    text-align: right;
    font-size: 26px;
    color: #822659;
    letter-spacing: 2px;
}

.love{
    position: absolute;
    left: 42%;
    top: 30px;
}

.heart {
    position: relative;
    top: 160px;
    left: 42%;
    border: none;
}

.heart button {
    position: absolute;
    background: none;
    border: none;
}

.heart button:hover {
    transition: all 0.3s ease;
    transform: scale(1.25);
}

.heart img {
    margin: 10px;
}

.heart h3 {
    font-size: 1.6em;
    font-weight: 600;
    position: absolute;
    top: 39%;
    left: 16%;
    text-align: center;
    color: #edffec;
}

output {
    font-size: 3rem;
    background: #fff;
    width: 50px;
    height: 50px;
}

/* media queries starts */

@media (max-width: 768px) {
    .para-3{
        left: 20px;
        font-size: 1.3rem;
    }

    .form {
        width: 80%;
        left: 10%;
    }

    input[type="text"] {
        padding: 0 10px;
        width: 200px;
        font-size: 14px;
    }

    .input-1{
        left: 20px
    }
    .input-2 {
        right: 15px;
    }

    .input-1 label, .input-2 label { 
        font-size: 22px;
        letter-spacing: 0;
    }

    .love{
        top: 50px;
        left: 42%;
    }

    .love img {
        width: 100px;
    }

    .heart {
        left: 38%;
    }

    .heart h3 {
        font-size: 1.5em;
        left: 17%;
        text-align: center;
    }

}

@media (max-width: 425px) {
    .heading {
        font-size: 2.4rem;
        padding-top: 30px;
    }

    .para-3{
        left: 20px;
        font-size: 1.1rem;
        top: 100px;
    }

    .form {
        width: 90%;
        left: 5%;
        height: 450px;
    }

    input[type="text"] {
        font-size: 14px;
        width: 250px;
        top: 80px;
        margin-top: -30px;
    }

    .input-1 {
        top: 10px;
        left: 10%;
    }

    .input-2{
        top: 220px;
        right: 40%;
    }

    .input-1 label, .input-2 label{
        display: flex;
        text-align: center;
        font-size: 18px;
    }
    .love {
        left: 40%;
        top: 27%;
    }

    .love img {
        width: 80px;
    }

    .heart {
        top: 330px;
        left: 30%;
    }

    .heart img {
       width: 100px;
    }

    .heart h3 {
        font-size: 1.7em;
        
    }
 

}

@media (max-width: 375px) {

    .heart {
        left: 35%;
    }

    .input-2{
        right: 35%;
    }
}

@media (max-width: 320px) {

    .input-1{
        left: 10%;
    }

    .input-2{
        right: 30%;
    }
    
    .heart {
        left: 30%;
    }
}
